// sass --watch css:css
$logoFont: gillSans;
$logoFont2: rickVeitch;
$pixelFont: pressStart2P;

@font-face {
    font-family: gillSans;
    src: url(../assets/fonts/gill-sans-bold-italic.ttf);
}
@font-face {
    font-family: rickVeitch;
    src: url(../assets/fonts/CCRickVeitch-W90-Bold.ttf);
}
@font-face {
    font-family: pressStart2P;
    src: url(../assets/fonts/PressStart2P-vaV7.ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #019389;
}

#app {
    display: flex;
    flex-flow: column wrap;
    width: 100vw;
    height: 100vh;
    align-items: center;
    .template {
        position: absolute;
        z-index: 0;
    }
    .container {
        position: absolute;
        width: 100%;
        height: 100%;
        display: grid;
        // grid-template-columns: 552px 26px 12px 14px 4px 20px 28px 19px 30px 19px 20px 39px 22px 39px 10px 25px;
        grid-template-columns: auto 26px 12px 14px 4px 20px 28px 19px 30px 19px 20px 39px 22px 39px 10px 25px auto;
        grid-template-rows: 70px 36px 26px 33px 13px 120px 20px 87px 27px 27px 17px 10px 47px 10px 30px 55px;
        z-index: 1;
        justify-content: center;
        .one {
            width: 325px;
            height: 530px;
            background-color: #d9ad00;
            border-radius: 26px;
            grid-column: 2 / 15;
            grid-row: 2;
            opacity: 1;
        }
        .two {
            width: 325px;
            height: 100px;
            background-color: #d9ad00;
            border-radius: 200px / 55px;
            grid-column: 2 / 15;
            grid-row: 14;
            opacity: 1;
        }
        .three {
            width: 223px;
            height: 220px;
            background-color: #e2bc38;
            grid-column: 5 / 15;
            grid-row: 8;
            opacity: 1;
            z-index: 2;
        }
        .four {
            width: 223px;
            height: 88px;
            background-color: #e2bc38;
            border-radius: 200px / 55px;
            grid-column: 5 / 15;
            grid-row: 13;
            opacity: 1;
            z-index: 2;
        }
        .five {
            width: 277px;
            height: 232px;
            background-color: #403f44;
            border-radius: 10px;
            grid-column: 3 / 15;
            grid-row: 3;
            opacity: 1;
            z-index: 2;
        }
        .six {
            width: 277px;
            height: 65px;
            background-color: #403f44;
            border-radius: 200px / 55px;
            grid-column: 3 / 15;
            grid-row: 7;
            opacity: 1;
            z-index: 2;
        }
        .screen {
            width: 177px;
            height: 166px;
            background-color: #bdbdbd;
            grid-column: 7 / 15;
            grid-row: 4;
            opacity: 1;
            z-index: 3;
        }
        .eight {
            width: 26px;
            height: 30px;
            background-color: #403f44;
            border-radius: 2px;
            grid-column: 5 / 15;
            grid-row: 9;
            opacity: 1;
            z-index: 3;
        }
        .nine {
            width: 30px;
            height: 26px;
            background-color: #403f44;
            border-radius: 2px;
            grid-column: 3 / 15;
            grid-row: 10;
            opacity: 1;
            z-index: 3;
        }
        .ten {
            width: 28px;
            height: 26px;
            background-color: #403f44;
            border-radius: 2px;
            grid-column: 7 / 15;
            grid-row: 10;
            opacity: 1;
            z-index: 3;
        }
        .eleven {
            width: 26px;
            height: 26px;
            background-color: #403f44;
            border-radius: 2px;
            grid-column: 5 / 15;
            grid-row: 11;
            opacity: 1;
            z-index: 3;
        }
        .twelve {
            width: 26px;
            height: 30px;
            background-color: #403f44;
            border-radius: 2px;
            grid-column: 5 / 15;
            grid-row: 10;
            opacity: 1;
            z-index: 3;
        }
        .thirteen {
            width: 38px;
            height: 38px;
            align-self: end;
            background-color: #403f44;
            border-radius: 50%;
            grid-column: 12 / 15;
            grid-row: 11;
            opacity: 1;
            z-index: 3;
        }
        .fourteen {
            width: 38px;
            height: 38px;
            align-self: end;
            background-color: #403f44;
            border-radius: 50%;
            grid-column: 14 / 15;
            grid-row: 10;
            opacity: 1;
            z-index: 3;
        }
        .fifteen {
            width: 30px;
            height: 10px;
            align-self: end;
            background-color: #403f44;
            border-radius: 50%;
            grid-column: 9 / 15;
            grid-row: 14;
            opacity: 1;
            z-index: 3;
        }
        .sixteen {
            width: 30px;
            height: 10px;
            align-self: end;
            background-color: #403f44;
            border-radius: 50%;
            grid-column: 11 / 15;
            grid-row: 14;
            opacity: 1;
            z-index: 3;
        }
        .seventeen {
            width: 13px;
            height: 13px;
            background-color: #b70b41;
            border-radius: 50%;
            box-shadow: 1px 0px 3px 3px #b70b41;
            grid-column: 4 / 15;
            grid-row: 5;
            opacity: 1;
            z-index: 3;
        }
    }
    .container2 {
        position: absolute;
        width: 100%;
        height: 100%;
        display: grid;
        // grid-template-columns: 609px 15px 155px 6px 5px 7px 6px 5px 7px 6px 5px 8px 6px 4px 6px;
        grid-template-columns: 30px 15px 155px 6px 5px 7px 6px 5px 7px 6px 5px 8px 6px 4px 6px;
        grid-template-rows: 164px 10px 358px 2px 2px 4px 2px 2px 3px 3px 3px 3px 4px 3px 3px 3px 3px 3px 3px 3px 3px 2px 3px 2px 3px 3px 3px; 
        z-index: 3;
        justify-content: center;
        .eighteen {
            font-weight: bold;
            transform: scaleX(0.5);
            transform-origin: 0 0;
            color: white;
            grid-column: 2 ;
            grid-row: 2;
            opacity: 1;
        }
        .nineteen {
            width: 6px;
            height: 6px;
            background-color: #403f44;
            border-radius: 50%;
            grid-column: 4 ;
            grid-row: 10;
            opacity: 1;
        }
        .twenty {
            width: 6px;
            height: 6px;
            background-color: #403f44;
            border-radius: 50%;
            grid-column: 6;
            grid-row: 6;
            opacity: 1;
        }
        .twentyone {
            width: 6px;
            height: 6px;
            background-color: #403f44;
            border-radius: 50%;
            grid-column: 7;
            grid-row: 9;
            opacity: 1;
        }
        .twentytwo {
            width: 6px;
            height: 6px;
            background-color: #403f44;
            border-radius: 50%;
            grid-column: 9;
            grid-row: 5;
            opacity: 1;
        }
        .twentythree {
            width: 6px;
            height: 6px;
            background-color: #403f44;
            border-radius: 50%;
            grid-column: 10;
            grid-row: 8;
            opacity: 1;
        }
        .twentyfour {
            width: 6px;
            height: 6px;
            background-color: #403f44;
            border-radius: 50%;
            grid-column: 12;
            grid-row: 4;
            opacity: 1;
        }
        .twentyfive {
            width: 6px;
            height: 6px;
            background-color: #403f44;
            border-radius: 50%;
            grid-column: 13;
            grid-row: 7;
            opacity: 1;
        }
        .twentysix {
            width: 6px;
            height: 6px;
            background-color: #403f44;
            border-radius: 50%;
            grid-column: 15;
            grid-row: 10;
            opacity: 1;
        }
        .twentyseven {
            width: 6px;
            height: 6px;
            background-color: #403f44;
            border-radius: 50%;
            grid-column: 12;
            grid-row: 11;
            opacity: 1;
        }
        .twentyeight {
            width: 6px;
            height: 6px;
            background-color: #403f44;
            border-radius: 50%;
            grid-column: 9;
            grid-row: 12;
            opacity: 1;
        }
        .twentynine {
            width: 6px;
            height: 6px;
            background-color: #403f44;
            border-radius: 50%;
            grid-column: 6;
            grid-row: 13;
            opacity: 1;
        }
        .thirty {
            width: 6px;
            height: 6px;
            background-color: #403f44;
            border-radius: 50%;
            grid-column: 13;
            grid-row: 13;
            opacity: 1;
        }
        .thirtyone {
            width: 6px;
            height: 6px;
            background-color: #403f44;
            border-radius: 50%;
            grid-column: 10;
            grid-row: 14;
            opacity: 1;
        }
        .thirtytwo {
            width: 6px;
            height: 6px;
            background-color: #403f44;
            border-radius: 50%;
            grid-column: 7;
            grid-row: 15;
            opacity: 1;
        }
        .thirtythree {
            width: 6px;
            height: 6px;
            background-color: #403f44;
            border-radius: 50%;
            grid-column: 15;
            grid-row: 15;
            opacity: 1;
        }
        .thirtyfour {
            width: 6px;
            height: 6px;
            background-color: #403f44;
            border-radius: 50%;
            grid-column: 4;
            grid-row: 16;
            opacity: 1;
        }
        .thirtyfive {
            width: 6px;
            height: 6px;
            background-color: #403f44;
            border-radius: 50%;
            grid-column: 9;
            grid-row: 17;
            opacity: 1;
        }
        .thirtysix {
            width: 6px;
            height: 6px;
            background-color: #403f44;
            border-radius: 50%;
            grid-column: 12;
            grid-row: 16;
            opacity: 1;
        }
        .thirtyseven {
            width: 6px;
            height: 6px;
            background-color: #403f44;
            border-radius: 50%;
            grid-column: 6;
            grid-row: 18;
            opacity: 1;
        }
        .thirtyeight {
            width: 6px;
            height: 6px;
            background-color: #403f44;
            border-radius: 50%;
            grid-column: 13;
            grid-row: 19;
            opacity: 1;
        }
        .thirtynine {
            width: 6px;
            height: 6px;
            background-color: #403f44;
            border-radius: 50%;
            grid-column: 10;
            grid-row: 20;
            opacity: 1;
        }
        .fourty {
            width: 6px;
            height: 6px;
            background-color: #403f44;
            border-radius: 50%;
            grid-column: 7;
            grid-row: 21;
            opacity: 1;
        }
        .fourtyone {
            width: 6px;
            height: 6px;
            background-color: #403f44;
            border-radius: 50%;
            grid-column: 4;
            grid-row: 22;
            opacity: 1;
        }
        .fourtytwo {
            width: 6px;
            height: 6px;
            background-color: #403f44;
            border-radius: 50%;
            grid-column: 15;
            grid-row: 21;
            opacity: 1;
        }
        .fourtythree {
            width: 6px;
            height: 6px;
            background-color: #403f44;
            border-radius: 50%;
            grid-column: 12;
            grid-row: 23;
            opacity: 1;
        }
        .fourtyfour {
            width: 6px;
            height: 6px;
            background-color: #403f44;
            border-radius: 50%;
            grid-column: 9;
            grid-row: 24;
            opacity: 1;
        }
        .fourtyfive {
            width: 6px;
            height: 6px;
            background-color: #403f44;
            border-radius: 50%;
            grid-column: 6;
            grid-row: 25;
            opacity: 1;
        }
        .fourtysix {
            width: 6px;
            height: 6px;
            background-color: #403f44;
            border-radius: 50%;
            grid-column: 13;
            grid-row: 26;
            opacity: 1;
        }
        .fourtyseven {
            width: 6px;
            height: 6px;
            background-color: #403f44;
            border-radius: 50%;
            grid-column: 10;
            grid-row: 27;
            opacity: 1;
        }
        .fourtyeight {
            width: 6px;
            height: 6px;
            background-color: #403f44;
            border-radius: 50%;
            grid-column: 7;
            grid-row: 28;
            opacity: 1;
        }
    }
    .logoContainer {
        position: absolute;
        width: 100%;
        height: 100%;
        display: grid;
        // grid-template-columns: 626px 15px 15px 20px 15px 15px 13px 15px 15px 15px 10px 13px;
        grid-template-columns: auto 15px 15px 20px 15px 15px 13px 15px 15px 15px 10px 13px auto;
        grid-template-rows: 314px 27px;
        z-index: 4;
        .l1 {
            font-family: $logoFont;
            font-size: 25px;
            color: white;
            grid-column: 2 / 13;
            grid-row: 2;
            opacity: 1;
        }
        .l2 {
            font-family: $logoFont;
            font-size: 25px;
            color: white;
            grid-column: 3 / 13;
            grid-row: 2;
            opacity: 1;
        }
        .l3 {
            transform: scaleX(0.9);
            transform-origin: 0 0;
            font-family: $logoFont;
            font-size: 25px;
            color: white;
            grid-column: 4 / 13;
            grid-row: 2;
            opacity: 1;
        }
        .l4 {
            font-family: $logoFont;
            font-size: 25px;
            color: white;
            grid-column: 5 / 13;
            grid-row: 2;
            opacity: 1;
        }
        .l5 {
            font-family: $logoFont;
            font-size: 25px;
            color: white;
            grid-column: 6 / 13;
            grid-row: 2;
            opacity: 1;
        }
        .l6 {
            transform: scaleX(0.8);
            transform-origin: 0 0;
            font-family: $logoFont;
            font-size: 25px;
            color: white;
            grid-column: 7 / 13;
            grid-row: 2;
            opacity: 1;
        }
        .l7 {
            font-family: $logoFont;
            font-size: 25px;
            color: white;
            grid-column: 8 / 13;
            grid-row: 2;
            opacity: 1;
        }
        .l8 {
            font-family: $logoFont2;
            font-size: 24px;
            color: #b90a40;
            grid-column: 9 / 13;
            grid-row: 2;
            opacity: 1;
        }
        .l9 {
            align-self: end;
            font-family: $logoFont2;
            font-size: 20px;
            color: #4e4ca7;
            grid-column: 10 / 13;
            grid-row: 2;
            opacity: 1;
        }
        .l10 {
            font-family: $logoFont2;
            font-size: 24px;
            color: #6eb023;
            grid-column: 11 / 13;
            grid-row: 2;
            opacity: 1;
        }
        .l11 {
            align-self: end;
            font-family: $logoFont2;
            font-size: 20px;
            color: #dbac05;
            grid-column: 12 / 13;
            grid-row: 2;
            opacity: 1;
        }
        .l12 {
            font-family: $logoFont2;
            font-size: 24px;
            color: #01938a;
            grid-column: 13 / 13;
            grid-row: 2;
            opacity: 1;
        }
    }
    .audioPlayerContainer {
        width: 100%;
        height: 100%;
        display: grid;
        // grid-template-columns: 552px 26px 12px 14px 4px 20px 28px 19px 30px 19px 20px 39px 22px 39px 10px 25px;
        grid-template-columns: 2px;
        grid-template-rows: 70px 36px 26px 33px 13px 120px 20px 87px 27px 27px 17px 10px 47px 10px 30px 55px;
        z-index: 5;
        justify-content: center;
        .player {
            width: 177px;
            height: 166px;
            position: relative;
            background-color: #bdbdbd;
            grid-column: 7;
            grid-row: 4;
            .cover {
                width: 100%;
                height: 100%;
                .bgBar {
                    position: absolute;
                    width: 100%;
                    height: 20%;
                    bottom: 0;
                    background: black;
                }
                .songTitle {
                    position: absolute;
                    left: 2px;
                    bottom: 22px;
                    font-family: $pixelFont;
                    color: white;
                    font-size: 7px;
                }
                .songArtist {
                    position: absolute;
                    left: 2px;
                    bottom: 14px;
                    font-family: $pixelFont;
                    color: white;
                    font-size: 6px;
                    opacity: 0.7;
                }
                .currentTime {
                    position: absolute;
                    left: 2px;
                    bottom: 5px;
                    font-family: $pixelFont;
                    color: white;
                    font-size: 5.5px;
                    opacity: 0.7;
                }
                .durationTime {
                    position: absolute;
                    right: 2px;
                    bottom: 5px;
                    font-family: $pixelFont;
                    color: white;
                    font-size: 5.5px;
                    opacity: 0.7;
                }
                .progress{
                    position: absolute;
                    width: 0%;
                    height: 2%;
                    bottom: 0;
                    background-color: deeppink;
                    opacity: 1;
                }
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .controls{
                position: absolute;
                div.btn{
                    cursor: pointer;
                }
                .fastForwardBtn {
                    position: absolute;
                    width: 26px;
                    height: 30px;
                    margin-top: 107px;
                    margin-left: -24px;
                    background-color: #403f44;
                    border-radius: 2px;
                }
                .delayBtn {
                    position: absolute;
                    width: 26px;
                    height: 26px;
                    margin-top: 161px;
                    margin-left: -24px;
                    background-color: #403f44;
                    border-radius: 2px;
                }
                .previousBtn {
                    position: absolute;
                    margin-top: 134px;
                    margin-left: -50px;
                    width: 30px;
                    height: 26px;
                    background-color: #403f44;
                    border-radius: 2px;
                }
                .nextBtn{
                    position: absolute;
                    margin-top: 134px;
                    width: 28px;
                    height: 26px;
                    background-color: #403f44;
                    border-radius: 2px;
                }
                .muteBtn{
                    position: absolute;
                    margin-left: 177px;
                    margin-top: 123px;
                    width: 38px;
                    height: 38px;
                    align-self: end;
                    background-color: #403f44;
                    border-radius: 50%;
                }
                .playBtn{
                    width: 38px;
                    height: 38px;
                    margin-left: 116px;
                    margin-top: 140px;
                    align-self: end;
                    background-color: #403f44;
                    border-radius: 50%;
                }
            }
        }
    }
}
