<div class="container">
    <div class="one"></div>
    <div class="two"></div>
    <div class="three"></div>
    <div class="four"></div>
    <div class="five"></div>
    <div class="six"></div>
    <div class="screen"></div>
    <div class="eight"></div>
    <div class="nine"></div>
    <div class="ten"></div>
    <div class="eleven"></div>
    <div class="twelve"></div>
    <div class="thirteen"></div>
    <div class="fourteen"></div>
    <div class="fifteen"></div>
    <div class="sixteen"></div>
    <div class="seventeen"></div>
</div>
<div class="container2">
    <div class="eighteen">></div>
    <div class="nineteen"></div>
    <div class="twenty"></div>
    <div class="twentyone"></div>
    <div class="twentytwo"></div>
    <div class="twentythree"></div>
    <div class="twentyfour"></div>
    <div class="twentyfive"></div>
    <div class="twentysix"></div>
    <div class="twentyseven"></div>
    <div class="twentyeight"></div>
    <div class="twentynine"></div>
    <div class="thirty"></div>
    <div class="thirtyone"></div>
    <div class="thirtytwo"></div>
    <div class="thirtythree"></div>
    <div class="thirtyfour"></div>
    <div class="thirtyfive"></div>
    <div class="thirtysix"></div>
    <div class="thirtyseven"></div>
    <div class="thirtyeight"></div>
    <div class="thirtynine"></div>
    <div class="fourty"></div>
    <div class="fourtyone"></div>
    <div class="fourtytwo"></div>
    <div class="fourtythree"></div>
    <div class="fourtyfour"></div>
    <div class="fourtyfive"></div>
    <div class="fourtysix"></div>
    <div class="fourtyseven"></div>
    <div class="fourtyeight"></div>
</div>
<div class="logoContainer">
    <div class="l1">G</div>
    <div class="l2">A</div>
    <div class="l3">M</div>
    <div class="l4">E</div>
    <div class="l5">B</div>
    <div class="l6">O</div>
    <div class="l7">Y</div>
    <div class="l8">C</div>
    <div class="l9">O</div>
    <div class="l10">L</div>
    <div class="l11">O</div>
    <div class="l12">R</div>
</div>
<div class="audioPlayerContainer">
    <div id="player" class="player" data-src="assets/audio/how-you-like-that.mp3">
        <div class="cover">
            <div class="bgBar"></div>
            <div class="songTitle">How You Like That</div>
            <div class="songArtist">BLACKPINK</div>
            <div class="currentTime">0:00</div>
            <div class="durationTime">3:01</div>
            <div class="progress"></div>
            <img id="coverSong" src="assets/covers/how_you_like_that.jpg" alt="">
        </div>
        <div class="controls">
            <div class="btn fastForwardBtn"></div>
            <div class="btn delayBtn"></div>
            <div class="btn previousBtn"></div>
            <div class="btn nextBtn"></div>
            <div class="btn muteBtn"></div>
            <div class="btn playBtn"></div>
        </div>
    </div>
</div>